<!-- app.component.html -->
<h1>App Component Works!</h1>
<app-hello-world></app-hello-world>
<!-- Embedding UserProfileComponent -->
<!-- <app-user-profile></app-user-profile> -->
<!-- <button [disabled]="isDisabled">Click me!</button> -->
<!-- <button [attr.disabled]="isDisabled">Click Me!</button>
<p [innerHTML]="'Welcome to'+'Angular'"></p>
<p>You have clicked {{clickCount}}</p>
<p>You have clicked {{clickCount1}}</p> -->

<!-- <button (click)="clickMe(); clickCount1=clickCount">Click ME!</button> -->
<!-- <app-ngfor-example></app-ngfor-example> -->

<!-- <app-table-example></app-table-example> -->
 <!-- <app-ng-switch-example></app-ng-switch-example> -->
<!-- <app-ng-if-example></app-ng-if-example> -->
  <app-ng-class-example></app-ng-class-example>