<!-- <h1>{{ name }}</h1>  <!-- This will display the 'name' property -->

<!-- Two-way binding: ngModel binds the 'name' property to the input -->
<!-- <input [(ngModel)]="name" />  The input field is bound to 'name' -->
<!-- <app-user-profile></app-user-profile> -->
<h1>{{'hello'+' world'+' to Angular'}}</h1> -->
<p> 100 X 80 ={{100 * 80}}</p>

<input type="text" (input)="handleInput($event); value1=$any($event.target).value">
<p>{{value}}</p>
<p>{{value1}}</p>

<!-- <h1>{{title}}</h1>
<!-- hello-world.component.html -->
<!-- <ul>
    <li *ngFor="let movie of moviesList">{{movie}}</li>
</ul> --> -->
  