<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Title</th>
                        <th>Director</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [ngClass]='{"bg-success":e}'
                    *ngFor="let movie of movies; let i=index, let e=even ;let o=odd">
                        <td>{{i}}</td>
                        <td>{{movie.title}}</td>
                        <td>{{movie.director}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>